<header class="header">
    <a class="logo" [routerLink]="[ '/' ]">DocTourism</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li>
            <button class="my-btn" [routerLink]="[ '/home']">Home</button>
        </li>
        <li *ngIf="!myAuthService.isLoggedin()">
            <button class="my-btn" data-toggle="modal" (click)="frame2.show()">Sign Up
            </button>
        </li>
        <li *ngIf="!myAuthService.isLoggedin()">
            <button class="my-btn" style="background-color: #fff;color:#068efe;" data-toggle="modal"
                (click)="frame.show()">Login</button>
        </li>

        <li *ngIf="myAuthService.isLoggedin()">
            <button class="my-btn" style="background-color: #fff;color:#068efe"
                [matMenuTriggerFor]="menu">Profile</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="myAccount()">My account</button>
                <button mat-menu-item (click)="myAuthService.logout()" [routerLink]="['/']">Logout</button>
            </mat-menu>
        </li>


    </ul>
</header>

<!-- sign up -->
<div mdbModal #frame2="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-2">
                    <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
                    <input type="text" id="orangeForm-name" class="form-control" [formControl]="signupFormModalName"
                        mdbInput mdbValidate>
                    <label for="orangeForm-name">Your name</label>
                    <mdb-error
                        *ngIf="signupFormModalName.invalid && (signupFormModalName.dirty || signupFormModalName.touched)">
                        Input invalid
                    </mdb-error>
                    <mdb-success
                        *ngIf="signupFormModalName.valid && (signupFormModalName.dirty || signupFormModalName.touched)">
                        Input valid
                    </mdb-success>
                </div>
                <div class="md-form mb-3">
                    <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
                    <input type="email" id="orangeForm-email" class="form-control" [formControl]="signupFormModalEmail"
                        mdbInput mdbValidate>
                    <label for="orangeForm-email">Your email</label>
                    <mdb-error
                        *ngIf="signupFormModalEmail.invalid && (signupFormModalEmail.dirty || signupFormModalEmail.touched)">
                        Input
                        invalid
                    </mdb-error>
                    <mdb-success
                        *ngIf="signupFormModalEmail.valid && (signupFormModalEmail.dirty || signupFormModalEmail.touched)">
                        Input
                        valid
                    </mdb-success>
                </div>

                <div class="md-form mb-3">
                    <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
                    <input type="password" id="orangeForm-pass" class="form-control"
                        [formControl]="signupFormModalPassword" mdbInput mdbValidate>
                    <label for="orangeForm-pass">Your password</label>
                    <mdb-error
                        *ngIf="signupFormModalPassword.invalid && (signupFormModalPassword.dirty || signupFormModalPassword.touched)">
                        Input invalid
                    </mdb-error>
                    <mdb-success
                        *ngIf="signupFormModalPassword.valid && (signupFormModalPassword.dirty || signupFormModalPassword.touched)">
                        Input valid
                    </mdb-success>
                </div>
                <div class="md-form mb-3">
                    <i class="fas fa-venus-mars prefix grey-text"></i>
                    <input type="text" id="orangeForm-gender" class="form-control" [formControl]="signupFormModalGender"
                        mdbInput mdbValidate>
                    <label for="orangeForm-Gender">male or female</label>
                    <mdb-error
                        *ngIf="signupFormModalGender.invalid && (signupFormModalGender.dirty || signupFormModalGender.touched)">
                        Input
                        invalid
                    </mdb-error>
                    <mdb-success
                        *ngIf="signupFormModalGender.valid && (signupFormModalGender.dirty || signupFormModalGender.touched)">
                        Input
                        valid
                    </mdb-success>
                </div>

                <div class="md-form mb-3">
                    <mdb-icon fas icon="phone-alt" class="prefix grey-text"></mdb-icon>
                    <input type="number" id="orangeForm-phone" class="form-control" [formControl]="signupFormModalPhone"
                        mdbInput mdbValidate>
                    <label for="orangeForm-phone">Your Phone</label>
                    <mdb-error
                        *ngIf="signupFormModalPhone.invalid && (signupFormModalPhone.dirty || signupFormModalPhone.touched)">
                        Input
                        invalid
                    </mdb-error>
                    <mdb-success
                        *ngIf="signupFormModalPhone.valid && (signupFormModalPhone.dirty || signupFormModalPhone.touched)">
                        Input
                        valid
                    </mdb-success>
                </div>

                <div class="md-form mb-3">

                    <mdb-icon far icon="calendar-check" class="prefix grey-text"></mdb-icon>
                    <input type="number" id="orangeForm-age" class="form-control" [formControl]="signupFormModalAge"
                        mdbInput mdbValidate>
                    <label for="orangeForm-age">Your Age</label>
                    <mdb-error
                        *ngIf="signupFormModalAge.invalid && (signupFormModalAge.dirty || signupFormModalAge.touched)">
                        Input
                        invalid
                    </mdb-error>
                    <mdb-success
                        *ngIf="signupFormModalAge.valid && (signupFormModalAge.dirty || signupFormModalAge.touched)">
                        Input
                        valid
                    </mdb-success>
                </div>



            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button mdbBtn color="primary" class="waves-light px-5" (click)="[register(),frame2.hide()]">Sign
                    up</button>
            </div>
        </div>
    </div>
</div>

<!-- /sign up -->


<!-- login -->

<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
                    <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control"
                        mdbInput mdbValidate>
                    <label for="defaultForm-email">Your email</label>
                    <mdb-error
                        *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
                        Input invalid
                    </mdb-error>
                    <mdb-success
                        *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
                        Input
                        valid
                    </mdb-success>
                </div>

                <div class="md-form mb-4">
                    <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
                    <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword"
                        class="form-control" mdbInput mdbValidate>
                    <label for="defaultForm-pass">Your password</label>
                    <mdb-error
                        *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
                        Input invalid
                    </mdb-error>
                    <mdb-success
                        *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
                        Input valid
                    </mdb-success>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button mdbBtn color="primary" class="waves-light px-5" mdbWavesEffect
                    (click)="[login(),frame.hide()]">Login</button>
            </div>
        </div>
    </div>
</div>
<!-- /login -->