<header class="header" [ngClass]="{'header2': isShow}">
    <a class="logo px-5 mx-5" [routerLink]="[ '/' ]"><span style="color: gold;"><i
                class="fab fa-dyalog"></i></span>octour<span style="color: gold; font-weight: 600;">i</span>sm</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

    <ul class="menu float-right" *ngIf="!myAuthService.isLoggedin()">
        <li>
            <a class="signup"  data-toggle="modal" data-target="#modalLRForm">Register / Login</a>
        </li>
    </ul>


    <ul class="float-right " *ngIf="myAuthService.isLoggedin()">
        <li>
            <a class="my-btn3" [matMenuTriggerFor]="menu"><i class="fa fa-user" aria-hidden="true"></i></a>
            <mat-menu #menu="matMenu">
                <a style="color: #000;" class="item" mat-menu-item (click)="myAccount()">Profile</a>
                <a style="color: #000;" class="item" mat-menu-item (click)="myAccount()">Diagnosis Forms</a>
                <a style="color: #000;" class="item" mat-menu-item (click)="myAccount()">Treatment Plans</a>
                <div style="height: 2px;width:75%; background-color:#f3f2f2;margin: .3rem auto;"></div>
                <a style="color: #000;" class="item" mat-menu-item>English</a>
                <a style="color: #000;" class="item" mat-menu-item>Help & Support</a>
                <div style=" height: 2px;width:75%; background-color:#f3f2f2;margin: auto;margin: .3rem auto;"></div>
                <a style="color: #000;" class="item" mat-menu-item (click)="myAuthService.logout()"
                    [routerLink]="['/']">Logout</a>
            </mat-menu>
        </li>
    </ul>

    <ul class="menu2 float-right px-5 mx-5">
        <li>
            <a class="my-btn" [routerLink]="[ '/']">Home</a>
        </li>
        <li>
            <a class="my-btn" [routerLink]="[ '/home']">Doctors</a>
        </li>
        <li>
            <a class="my-btn" [routerLink]="[ '/home']">Services</a>
        </li>
        <li>
            <a class="my-btn" [routerLink]="[ '/home']">About</a>
        </li>
    </ul>

</header>



<!--Modal: Login / Register Form-->
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="overflow-y: hidden!important;">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Modal cascading tabs-->
            <div class="modal-c-tabs">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs md-tabs tabs-2 light-blue" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i
                                class="fas fa-user mr-2"></i>
                            Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i
                                class="fas fa-user-plus mr-2"></i>
                            Register</a>
                    </li>
                </ul>

                <!-- Tab panels -->
                <div class="tab-content">
                    <!--Panel 7-->
                    <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

                        <!--Body-->
                        <div class="modal-body mb-1">
                            <div class="md-form form-sm mb-5">
                                <i class="fas fa-envelope prefix"></i>
                                <input type="email" id="modalLRInput10" [(ngModel)]="email"
                                    class="form-control form-control-sm validate">
                                <label data-error="wrong" data-success="right"
                                    for="modalLRInput10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your email</label>
                            </div>

                            <div class="md-form form-sm mb-4">
                                <i class="fas fa-lock prefix"></i>
                                <input type="password" id="modalLRInput11" class="form-control form-control-sm validate"
                                    [(ngModel)]="password">
                                <label data-error="wrong" data-success="right"
                                    for="modalLRInput11">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
                                    password</label>
                            </div>
                            <div class="text-center mt-2">
                                <button class="btn btn-info" (click)="login()" data-dismiss="modal">Log in <i
                                        class="fas fa-sign-in ml-1"></i></button>
                            </div>
                        </div>
                        <!--Footer-->
                        <div class="modal-footer">
                            <div class="options text-center text-md-right mt-1">
                                <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
                                <p>Forgot <a href="#" class="blue-text">Password?</a></p>
                            </div>
                            <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                                data-dismiss="modal">Close</button>
                        </div>

                    </div>
                    <!--/.Panel 7-->

                    <!--Panel 8-->
                    <div class="tab-pane fade" id="panel8" role="tabpanel">

                        <!--Body-->
                        <div class="modal-body my-0">
                            <!-- name -->
                            <div class="md-form form-sm mb-0">
                                <i class="fas fa-user prefix"></i>
                                <input type="text" id="modalLRInput1" class="form-control form-control-sm validate "
                                    [(ngModel)]="username" required>
                                <label data-error="wrong" data-success="right"
                                    for="modalLRInput1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name </label>
                            </div>
                            <div class="md-form form-sm mb-0">
                                <i class="fas fa-envelope prefix"></i>
                                <input type="email" id="modalLRInput4" class="form-control form-control-sm validate "
                                    email [(ngModel)]="email" required>
                                <label data-error="wrong" data-success="right"
                                    for="modalLRInput4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your email</label>
                                <mat-hint *ngIf="alreadyRegester">This mail already <i class="fa fa-registered"
                                        aria-hidden="true"></i></mat-hint>
                                <mat-hint *ngIf="invalidMail">Invlid mail!</mat-hint>

                            </div>
                            <!-- password -->
                            <div class="md-form form-sm mb-0">
                                <i class="fas fa-lock prefix"></i>
                                <input type="password" id="modalLRInput5" class="form-control form-control-sm validate"
                                    [(ngModel)]="password" required>
                                <label data-error="wrong" data-success="right"
                                    for="modalLRInput5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your
                                    password</label>
                            </div>

                            <!-- Age -->
                            <div class="md-form form-sm mb-0">
                                <i class="fas fa-birthday-cake prefix"></i>
                                <input type="number" id="modalLRInput2" class="form-control form-control-sm validate "
                                    [(ngModel)]="age" required>
                                <label data-error="wrong" data-success="right"
                                    for="modalLRInput2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Age </label>
                            </div>
                            <!-- phon -->
                            <div class="md-form form-sm mb-0">
                                <i class="fas fa-phone prefix"></i>
                                <input type="number" id="modalLRInput3" class="form-control form-control-sm validate "
                                    [(ngModel)]="phone" required>
                                <label data-error="wrong" data-success="right"
                                    for="modalLRInput3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone </label>
                            </div>
                            <!-- Gender-->
                            <div class="md-form form-sm mb-0">
                                <i class="fas fa-venus-mars prefix custom-control-inline"
                                    style="font-size: 1.5rem;"></i>
                                <div class="custom-control custom-radio custom-control-inline"
                                    style="margin-left: 6rem!important;">
                                    <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                        class="custom-control-input validate" value="Male" [(ngModel)]="gender"
                                        required>
                                    <label class="custom-control-label" for="customRadioInline1">Male</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline ml-5">
                                    <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                        class="custom-control-input validate" value="Female" [(ngModel)]="gender"
                                        required>
                                    <label class="custom-control-label" for="customRadioInline2">Female</label>
                                </div>
                            </div>


                            <div class="text-center form-sm mt-2">
                                <mat-hint *ngIf="validError">*Pelease Fill All Inputs!</mat-hint>
                                <button class="btn" (click)="[register()]">Sign up <i data-dismiss="modal"
                                        class="fas fa-sign-in ml-1"></i></button>
                            </div>

                        </div>
                        <!--Footer-->
                        <div class="modal-footer">
                            <div class="options text-right">
                                <p class="pt-1">Already have an account?
                                    <a class="blue-text" data-toggle="tab" href="#panel7">Login</a>
                                </p>
                            </div>
                            <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                                data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!--/.Panel 8-->
                </div>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: Login / Register Form-->








<!-- sign up -->


<!-- 
<div mdbModal #frame2="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius: 1rem;">
            <div class="modal-header text-center"
                style="background-color: #068efe;border-top-left-radius: 1rem;border-top-right-radius: 1rem;">
                <h4 class="modal-title w-100 font-weight-bold"
                    style="font-size: 2rem; padding-top: .5rem; color: white;">Sign up</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame2.hide()">
                    <span aria-hidden="true" style="color: #fff; font-size: 2rem;">&times;</span>
                </button>
            </div>
            <div class="modal-body  mx-5">
                <mdb-icon fas icon="user" class="prefix " style="color: #068efe;"></mdb-icon>
                <mat-form-field >
                    <mat-label>Enter Username</mat-label>
                    <input matInput placeholder="username" [(ngModel)]="username">
                </mat-form-field>
                <mdb-icon fas icon="envelope" class="prefix" style="color: #068efe;"></mdb-icon>
                <mat-form-field >
                    <mat-label>Your Email</mat-label>
                    <input matInput placeholder="Email" [(ngModel)]="email">
                </mat-form-field>

                <mdb-icon fas icon="lock" class="prefix" style="color: #068efe;"></mdb-icon>
                <mat-form-field>
                    <mat-label>Your Password</mat-label>
                    <input matInput placeholder="password" [(ngModel)]="password">
                </mat-form-field>
                <i class="fas fa-venus-mars prefix" style="color: #068efe;"></i>
                <mat-form-field>
                    <mat-label>Gender</mat-label>
                    <mat-select [(ngModel)]="gender" formControlName="genderCtrl" >
                        <mat-option *ngFor="let g of ['male','female']" [value]='g'>
                            {{g | titlecase}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mdb-icon fas icon="phone-alt" class="prefix" style="color: #068efe;"></mdb-icon>
                <mat-form-field >
                    <mat-label>Your Phone</mat-label>
                    <input matInput placeholder="phone" [(ngModel)]="phone">
                </mat-form-field>


                <mdb-icon far icon="calendar-check" class="prefix" style="color: #068efe;"></mdb-icon>
                <mat-form-field >
                    <mat-label>Your Age</mat-label>
                    <input matInput placeholder="age" [(ngModel)]="age">
                </mat-form-field>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button mdbBtn class=""
                    style="background-color: #f7f7f78a; font-size: medium;color: #068efe; width: 100%; border-radius: 2rem;"
                    mdbWavesEffect (click)="[register(),frame2.hide()]">Signup</button>
            </div>
        </div>
    </div>
</div> -->


<!-- /sign up -->


<!-- login -->


<!-- <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center" style="background-color: #068eff;">
                <h4 class="modal-title w-100 font-weight-bold"
                    style="font-size: 2rem; padding-top: .5rem;color: white;">Sign in</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true" style="color: #fff; font-size: 2rem;">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <mdb-icon fas icon="envelope" class="prefix" style="color: #068efe;"></mdb-icon>
                <mat-form-field class="example-full-width">
                    <mat-label>Your Email</mat-label>
                    <input matInput placeholder="email" [(ngModel)]="email">
                </mat-form-field>
                <mdb-icon fas icon="lock" class="prefix" style="color: #068efe;"></mdb-icon>
                <mat-form-field class="example-full-width">
                    <mat-label>Your Password</mat-label>
                    <input matInput placeholder="password" [(ngModel)]="password">
                </mat-form-field>
                <div class="d-flex justify-content-between">
                    <div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                            <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                        </div>
                    </div>
                    <div>
                        <a href="http://localhost:4200/password/forget" style="font-size: 1rem ; color: #63b7ff;">Forgot
                            password?</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button mdbBtn class="waves-light"
                    style="background-color: #068efe; font-size: medium;color: white; width: 100%;" mdbWavesEffect
                    (click)="[login(),frame.hide()]">Login</button>
            </div>
        </div>
    </div>
</div> -->


<!-- /login -->