<ng-container *ngIf="this.innerWidth >760; else elseTemplate">

    <div class="Searchbar container mx-auto">

        <ul class="row dropDown">
            <li class="li-1 col-md-3" [matMenuTriggerFor]="menu">
                <span class='mySpan'>in this city</span>
                <i class="myIcon fas fa-map-marker-alt"></i>

                <span class="mySpan2"><span *ngIf="!selectedValue">Select City</span>{{selectedValue}} <i
                        class="fas fa-caret-down px-3"></i></span>


                <mat-menu #menu="matMenu" class='myMenu1'>
                    <div class="row">
                        <div class="col-6" style="padding: 5px;" *ngFor="let c of cities">
                            <button mat-flat-button
                                (click)="[onSelectValue(c.name_en),getAreas(c.name_en)]">{{c.name_en}}</button>
                        </div>
                    </div>
                </mat-menu>
            </li>
            <li class="col-md-3" [matMenuTriggerFor]="menu2">
                <span class='mySpan'>in this area</span>
                <i class="myIcon fas fa-map-marker-alt"></i>
                <span class="mySpan2"><span *ngIf="!selectedValue2">choose area</span>{{selectedValue2}}<i
                        class="fas fa-caret-down px-3"></i></span>

                <mat-menu #menu2="matMenu" class='myMenu2'>
                    <div class="row">
                        <div class="col-6" style="padding: 5px;" *ngFor="let a of areas">

                            <button mat-flat-button (click)="onSelectValue2(a.name_en)">{{a.name_en}}</button>
                        </div>
                    </div>
                </mat-menu>
            </li>
            <li class="col-md-3">
                <span class='mySpan'>or search by name</span>
                <i class="myIcon fas fa-user-md"></i>
                <input class="myInput" placeholder="Doctor Name">

            </li>
            <li class="li-2 col-md-3" [routerLink]="[ '/home' ]">
                <i class="fa fa-search px-4"></i>
                <span>Search</span>
            </li>
        </ul>
    </div>


</ng-container>
<ng-template #elseTemplate>

    <div class="Searchbar2 container mx-auto">
        <ul class="row dropDown">
            <li class="li-1 col-md-12 " [matMenuTriggerFor]="menu">
                <span class='mySpan'>in this city</span>
                <i class="myIcon fas fa-map-marker-alt"></i>

                <span class="mySpan2 "><span *ngIf="!selectedValue">Select City</span>{{selectedValue}} <i
                        class="fas fa-caret-down " style="margin-left: 150px;padding-left: 150px; color:#aaa"></i></span>


                <mat-menu #menu="matMenu" class='myMenu1'>
                    <div class="row">
                        <div class="col-6" style="padding: 5px;" *ngFor="let c of cities">
                            <button mat-flat-button
                                (click)="[onSelectValue(c.name_en),getAreas(c.name_en)]">{{c.name_en}}</button>
                        </div>
                    </div>
                </mat-menu>
            </li>
            <li class="col-md-12" [matMenuTriggerFor]="menu2">
                <span class='mySpan'>in this area</span>
                <i class="myIcon fas fa-map-marker-alt"></i>
                <span class="mySpan2"><span *ngIf="!selectedValue2">choose area</span>{{selectedValue2}}<i
                        class="fas fa-caret-down" style="margin-left: 150px;padding-left: 140px; color:#aaa"></i></span>

                <mat-menu #menu2="matMenu" class='myMenu2'>
                    <div class="row">
                        <div class="col-6" style="padding: 5px;" *ngFor="let a of areas">

                            <button mat-flat-button (click)="onSelectValue2(a.name_en)">{{a.name_en}}</button>
                        </div>
                    </div>
                </mat-menu>
            </li>
            <li class="col-md-12">
                <span class='mySpan'>or search by name</span>
                <i class="myIcon fas fa-user-md"></i>
                <input class="myInput" placeholder="Doctor Name">

            </li>
            <li class="li-2 col-md-12" [routerLink]="[ '/home' ]">
                <i class="fa fa-search px-4"></i>
                <span>Search</span>
            </li>
        </ul>
    </div>
</ng-template>