<div class="container my-5 py-5">
    <div class="row float-right ">
        <div class="col-12 float-right">
            <button class='float-right' mat-stroked-button color=primary style='padding:0px 30px ;border:none'
                (click)="ngOnInit()">
                <i class="fas fa-sync"></i>
            </button>
        </div>
    </div>
    <div class="clearfix"></div>
    <mat-tab-group dynamicHeight>
        <mat-tab label="My Profile">
            <div class="example-large-box mat-elevation-z4">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-md-4 doc-img">
                            <div class="img">
                                <img class="img-fluid" style="height: 300px;" src="{{this.img}}">
                            </div>
                            <div class="rating">
                                <h3 style=" padding-top: 30px;">Name : {{this.username}} </h3>
                                <h3>rating : <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                        aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                        class="fa fa-star" aria-hidden="true"></i></h3>
                            </div>
                        </div>
                        <div class="col-md-8 doc-about">
                            <div class="container descrip">
                                <div class="row py-3">
                                    <span style="color:#09c; font-size: 35px; font-weight: 800;padding: 10px;"> i
                                    </span>
                                    <h2>About Doctor</h2>
                                    <div class="col-md-12 py-3 parag">
                                        <p>dasdlasdjasldjasldsdlaskdasldkjoqwiddwqdqwoddwas
                                            dasdlasdjasldjasldsdlaskdasldkjoqwiddwqdqwoddwas</p>
                                        <p>dasdlasdjasldjasldsdlaskdasldkjoqwiddwqdqwoddwas</p>
                                    </div>
                                </div>
                                <div class="row py-3">
                                    <i class="fas fa-map-marker-alt" style="color:#09c; font-size: 30px;"></i>
                                    <h2 style="padding-left: 10px;">About Doctor</h2>
                                    <div class="col-md-12 py-2 parag">
                                        <p>el-shikh zayed : capital busniss park-sdsdasd </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="My Patients">
            <ng-container *ngIf="Patients; else elseTemplate">

                <table class="table table-striped py-4">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Date</th>
                            <th scope="col">Diagnosis Form</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of Patients; let i = index">
                            <th scope="row">{{ i+1 }}</th>
                            <td>
                                {{ p.username }}
                            </td>
                            <td>{{ p.gender }}</td>
                            <td>{{ p.Date | date }}</td>
                            <td>
                                <button mat-raised-button color=accent
                                    (click)="[openLg(content),getDiagnosis(p._id),geTreatment(p._id)]">
                                    Show
                                </button>

                                <ng-template #content let-modal>
                                    <div class="modal-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-5 col-md-12">
                                                    <div class="container py-1">
                                                        <div class="row">
                                                            <h2 style="color: #09c;"> Diagnosis Form</h2>
                                                        </div>
                                                    </div>
                                                    <mat-list>
                                                        <mat-list-item>
                                                            <div class="container py-2">
                                                                <div class="row py-2">
                                                                    <h2> Sending Date</h2>
                                                                </div>
                                                            </div>
                                                            {{this.Patient_DF.Date |date}}
                                                        </mat-list-item>
                                                        <mat-divider></mat-divider>
                                                        <mat-list-item>

                                                            <div class="container py-3">
                                                                <div class="row py-2">
                                                                    <h2> Main Problem</h2>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="co-12 mx-2 py-2">
                                                                        {{this.Patient_DF.MainProblem.text_problem}}
                                                                    </div>
                                                                    <div class="col-12 py-2"
                                                                        *ngFor="let i of this.Patient_DF.MainProblem.problemsArr">
                                                                        {{i}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </mat-list-item>
                                                        <mat-divider></mat-divider>
                                                        <mat-list-item>
                                                            <div class="container py-3">
                                                                <div class="row py-2">
                                                                    <h2> Medical History</h2>
                                                                </div>
                                                                <div class="row">
                                                                    <div class='col-12  py-2'>
                                                                        {{this.Patient_DF.medicalHistory.text_medical}}
                                                                    </div>
                                                                    <div class="col-12 py-2"
                                                                        *ngFor="let i of this.Patient_DF.medicalHistory.medicalArr">
                                                                        {{i}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </mat-list-item>
                                                        <mat-divider></mat-divider>
                                                        <mat-list-item>
                                                            <div class="container py-3">
                                                                <div class="row py-2">
                                                                    <h2> Related Questions</h2>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-12 py-2"
                                                                        *ngFor="let i of this.Patient_DF.doctorQuesAns">
                                                                        {{i}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </mat-list-item>
                                                        <mat-divider></mat-divider>
                                                        <mat-list-item>
                                                            <ng-template>Available Duration</ng-template>
                                                            <div class="container py-3">
                                                                <div class="row py-2">
                                                                    <h2> Available Duration</h2>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-12 py-2">
                                                                        Form:
                                                                        {{this.Patient_DF.avilableDuration.fromDate.day|number}}/{{this.Patient_DF.avilableDuration.fromDate.month|number }}/{{this.Patient_DF.avilableDuration.fromDate.year }}
                                                                    </div>
                                                                    <div class="col-12 py-2">
                                                                        To:
                                                                        {{this.Patient_DF.avilableDuration.toDate.day|number }}/{{this.Patient_DF.avilableDuration.toDate.month |number}}/{{this.Patient_DF.avilableDuration.toDate.year }}

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </mat-list-item>

                                                    </mat-list>

                                                </div>
                                                <div class="col-lg-7 col-md-12 mx-auto">
                                                    <div class="container py-1">
                                                        <div class="row">
                                                            <h2 style="color: #09c;"> Treatment Plan</h2>
                                                        </div>
                                                        <div class="row">
                                                            <ng-container *ngIf="!checkTreatment(p._id); else elseTemplate">
                                                                <div class="col-12">
                                                                    <div class="example-boundary">
                                                                        <div class="example-box"
                                                                            cdkDragBoundary=".example-boundary" cdkDrag>
                                                                            <div class="container py-2">
                                                                                <div class="row">
                                                                                    <div class="col-12 py-2">
                                                                                        <mat-form-field
                                                                                            class="example-full-width">
                                                                                            <mat-label>Full Description
                                                                                            </mat-label>
                                                                                            <textarea matInput
                                                                                                [(ngModel)]="description"
                                                                                                placeholder="treatment plan description"></textarea>
                                                                                        </mat-form-field>

                                                                                    </div>

                                                                                    <div class="col-12 py-2">
                                                                                        <mat-form-field
                                                                                            class="example-full-width">
                                                                                            <mat-label>Initial Cost
                                                                                            </mat-label>
                                                                                            <input matInput
                                                                                                placeholder="cost.."
                                                                                                [(ngModel)]="cost">
                                                                                        </mat-form-field>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-12 py-2">
                                                                                        <h2>Appointment Date</h2>
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-12 overflow-hidden mx-0">
                                                                                        <ngb-datepicker #dp
                                                                                            (dateSelect)="onDateSelection($event)"
                                                                                            [displayMonths]="2"
                                                                                            [dayTemplate]="t"
                                                                                            outsideDays="hidden">
                                                                                        </ngb-datepicker>

                                                                                        <ng-template #t let-date
                                                                                            let-focused="focused">
                                                                                            <span class="custom-day"
                                                                                                [class.focused]="focused"
                                                                                                [class.range]="isRange(date)"
                                                                                                [class.faded]="isHovered(date) || isInside(date)"
                                                                                                (mouseenter)="hoveredDate = date"
                                                                                                (mouseleave)="hoveredDate = null">
                                                                                                {{ date.day }}
                                                                                            </span>
                                                                                        </ng-template>

                                                                                    </div>
                                                                                </div>
                                                                                <div class="row py-2">
                                                                                    <ng-container
                                                                                        *ngIf="!checkTreatment(p._id); else elseTemplate">
                                                                                        <div class="col-12 py-2">
                                                                                            <button mat-raised-button
                                                                                                (click)="sendTreatmentPlan(p._id)"
                                                                                                color="accent"
                                                                                                class='px-5'>Create</button>

                                                                                        </div>
                                                                                    </ng-container>
                                                                                    <ng-template #elseTemplate>
                                                                                        <div class="col-12 py-2">
                                                                                            <button mat-raised-button
                                                                                                disabled color="accent"
                                                                                                class='px-5'>Done</button>
                                                                                        </div>
                                                                                    </ng-template>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </ng-container>
                                                            <ng-template #elseTemplate>
                                                                <div class="col-12">
                                                                    <div class="container mx-auto">
                                                                        <h2>Treatment Plan Created Before</h2>
                                                                    </div>
                                                                </div>
                                                            </ng-template>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
            <ng-template #elseTemplate>
                <div class="container py-3">
                    <div class="row mx-auto">
                        <div class="col-12 mx-auto">
                            <h3 class="mx-auto py-2">NO Patients For Now (:</h3>
                        </div>
                    </div>
                </div>
            </ng-template>

        </mat-tab>
        <mat-tab label="Treatment Plans">
            <div class="example-large-box mat-elevation-z4">

                <mat-list *ngFor="let tp of this.treatmentPlan;let i of index">
                    <mat-list-item>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{tp.patientID.username}}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        His Treatment Plan
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            description : {{tp.description}}
                                        </div>
                                        <div class="col-12">
                                            Cost : {{tp.cost|currency}}
                                        </div>
                                        <div class="col-12">
                                            Start-date :
                                            {{tp.treatmentDate.toDate.year}}/{{tp.treatmentDate.toDate.month}}/{{tp.treatmentDate.toDate.day}}
                                        </div>
                                        <div class="col-12">
                                            Start-date :
                                            {{tp.treatmentDate.fromDate.year}}/{{tp.treatmentDate.fromDate.month}}/{{tp.treatmentDate.fromDate.day}}
                                        </div>

                                    </div>
                                </div>

                            </mat-expansion-panel>
                        </mat-accordion>

                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>


            </div>
        </mat-tab>
    </mat-tab-group>
</div>