<div class="container py-5">
    <div class="row">
        <div class="col-md-4 doc-img">
            <div class="img">
                <img class="img-fluid" style="height: 400px;" src="{{DData.profileIMG}}">
            </div>
            <div class="rating">
                <h3 style=" padding: 10px;">Name : {{DData.username}} </h3>
                <h3>rating : <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                        aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                        aria-hidden="true"></i></h3>
            </div>
        </div>
        <div class="col-md-8 doc-about">
            <div class="container descrip">
                <div class="row py-3">
                    <span style="color:#09c; font-size: 35px; font-weight: 800;padding: 10px;"> i </span>
                    <h2>About Doctor</h2>
                    <div class="col-md-12 py-3 parag">
                        <p>{{DData.briefSummery}}</p>
                    </div>
                </div>
                <div class="row py-3">
                    <i class="fas fa-map-marker-alt" style="color:#09c; font-size: 30px;"></i>
                    <h2 style="padding-left: 10px;">About Doctor</h2>
                    <div class="col-md-12 py-2 parag">
                        <p>el-shikh zayed : capital busniss park-sdsdasd </p>
                    </div>
                </div>
                <div class="row py-2">
                    <ng-container *ngIf="this.myAuthService.getType()=='patient'; else elseTemplate">
                        <div class="col-md-12 py-3">
                            <button class="btn btn-danger px-5">
                                <a [routerLink]="[ '/Diagnosis',DData._id ]" target="_blank">Fill Diagnosis</a>
                            </button>
                        </div>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <div class="col-md-12 py-3">
                            <button class="btn btn-danger px-5" disabled>
                                <a style="color:#fff;font-weight:500" [routerLink]="[ '/Diagnosis',DData._id ]" target="_blank">Fill Diagnosis</a>
                            </button>
                        </div>
                    </ng-template>

                </div>
            </div>
        </div>
    </div>
    <div class="row reviews">
        <div class="col-md-12 container">
            <div class="row">
                <div class="col-md-9">
                    <h2><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i
                            class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></h2>
                    <h2>overall rating</h2>
                    <div class="parag2">
                        <p>spdasdasdmaosdmasdoasmdasoidmasodiams
                            spdasdasdmaosdmasdoasmdasoidmasodiams</p>
                        <p>spdasdasdmaosdmasdoasmdasoidmasodiams</p>
                        <p>spdasdasdmaosdmasdoasmdasoidmasodiams</p>
                    </div>

                    <h4>reviewer name</h4>
                    <h4> date: 4/3/2020</h4>
                </div>
                <div class="col-md-3">
                    <div style="padding-top: 100px; ">
                        <span class=""
                            style=" padding:20px;background-color:#09c;color:#fff;border-radius: 5px;">4</span>
                        <h3 class='py-4'> Rating</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>