<div class="container py-5 my-5 px-5 ">
    <div class="row  mx-5">
        <div class="col-md-4 doc-img">
            <div class="img">
                <img class="img-fluid" style="height: 280px;" src="{{DData.profileIMG}}">
            </div>
            <div class="rating">
                <h3 style="padding: 5px;">Name : {{DData.username}} </h3>
                <h3 style="padding: 5px">rating : <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                        aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                        aria-hidden="true"></i></h3>
            </div>
        </div>
        <div class="col-md-8 doc-about">
            <div class="container descrip">
                <div class="row py-2">
                    <span style="color:#09c; font-size: 35px; font-weight: 800;padding: 10px;"> i </span>
                    <h2>About Doctor</h2>
                    <div class="col-md-12 py-3 parag">
                        <p>{{DData.briefSummery|slice:0:80}} <a (click)="ReadMore()">
                                <ng-container *ngIf="!readMore; else elseTemplate">
                                    <span style="color:#09c; padding-left:1px ;">Read more...</span>
                                </ng-container>
                                <ng-template #elseTemplate>
                                    <span>{{DData.briefSummery|slice:95:300}}</span> <span
                                        style="color:#09c; padding-right:1px ;">Read less...</span>

                                </ng-template>
                            </a></p>
                    </div>
                </div>
                <div class="row py-3">
                    <i class=" fas fa-map-marker-alt" style="color:#09c; font-size: 30px;padding-left: 10px"></i>
                    <h2 style="padding-left: 10px;">About Doctor</h2>
                    <div class="col-md-12 py-2 parag">
                        <p>{{DData.location.location }} : {{DData.location.area}} </p>
                    </div>
                </div>
                <div class="row py-2">
                    <ng-container *ngIf="this.myAuthService.getType()=='patient'; else elseTemplate2">
                        <div class="col-md-12 py-3">
                            <button class="btn btn-danger px-5">
                                <a style="color:#fff;font-weight:500;text-decoration: none;"
                                    [routerLink]="[ '/Diagnosis',DData._id ]" target="_blank">Fill Diagnosis</a>
                            </button>
                        </div>
                    </ng-container>
                    <ng-template #elseTemplate2>
                        <div class="col-md-12 py-3">
                            <button class="btn btn-danger px-5" disabled>
                                <a style="color:#fff;font-weight:500;text-decoration: none">Fill Diagnosis</a>
                            </button>
                        </div>
                    </ng-template>

                </div>
            </div>
        </div>
    </div>
    <div class="row contanier reviews my-3 mx-5 px-0">
        <div class="col-md-12 contanier mx-0 px-0">
            <div class="row mx-5 contanier px-0 ">
                <div class="col-md-10 px-0 mx-0">
                    <h2><i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i
                            class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></h2>
                    <h2>overall rating</h2>
                    <div class="parag2">
                        <p>spdasdasdmaosdmasdoasmdasoidmasodiams
                            spdasdasdmaosdmasdoasmdasoidmasodiams</p>
                        <p>spdasdasdmaosdmasdoasmdasoidmasodiams</p>
                        <p>spdasdasdmaosdmasdoasmdasoidmasodiams</p>
                    </div>

                    <h4>reviewer name</h4>
                    <h4> date: 4/3/2020</h4>
                </div>
                <div class="col-md-2">
                    <div style="padding-top: 100px; ">
                        <span class=""
                            style=" padding:20px;background-color:#09c;color:#fff;border-radius: 5px;">4</span>
                        <h3 class='py-4'> Rating</h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>