<div class="container my-5">
    <div class="row">
        <div class="col-md-3">
            <div class="image-box my-3">
                <img class="img-fluid" src="{{DData.profileIMG }}">
            </div>
            <div class="box-body container">
                <div class="row my-3">
                    <h2>Dr.{{DData.username }}</h2>
                </div>
                <div class="row my-3">
                    <h5 style="color:#1a84e5 ;">Cardologist</h5>
                </div>
                <div class="row my-4">
                    <div class="col-md-3 col-sm-3">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
                <div class="row my-4" style="border-bottom: 1px solid #e3e3e3;">
                    <h3><i class="fas fa-briefcase-medical" style="color:#1a84e5;padding-bottom: 10px;"></i>
                        Qualifications
                    </h3>
                </div>
                <div class="row my-2">
                    <p style="color: #a1a1a1;"> BDS,MDS-Poriodontology and oral<br>implantology,22 Year Experince</p>
                </div>
                <div class="row my-4 " style="border-bottom: 1px solid #e3e3e3;">
                    <h3><i class="far fa-id-card" style="color:#1a84e5;padding-bottom: 10px;"></i> Contact info</h3>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8" style="background-color: red;">

            <div class="row">
                <h3>Preif Description</h3>
                <p>{{DData.driefSummery}}</p>
            </div>

        </div>
    </div>
</div>