<div class="container-fluid mx-auto my-3 py-3">
    <div class="row">
        <div class="col-md-2 col-sm-1 py-2 px-2 ">
            <div class="searchbar text-center">
                <div class="md-form">
                    <input mdbInput type="text"  class="form-control" [matAutocomplete]="auto" (keyup)='handleFilter($event)'>
                    <label class="">Doctor name</label>
                </div>
                <div class="md-form">
                    <input mdbInput type="text" class="form-control">
                    <label class="">Location</label>
                </div>
                <button mdbBtn style="border-radius: 25px;" type="button" color="primary" rounded="true"
                    mdbWavesEffect>Primary</button>

                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredArray" [value]="option">
                        <p>{{option.username}}</p>
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
        <div class=" col-md-10 col-sm-11">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 py-2 mx-4" *ngFor="let i of filteredArray | paginate: config">
                        <div class=" card mx-5" style="width: 18rem;">
                            <img src="{{i.profileIMG}}" class="card-img-top" alt="{{i.username}}">
                            <div class="card-body">
                                <h5 class="card-title">{{i.username}}</h5>
                                <h5>price: {{i.title}}</h5>
                                <p class="card-text">{{i.driefSummery}}</p>
                                <a class="btn btn-primary" [routerLink]="['/Dprofile',i._id]">{{i.username}} profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" container text-center">
    <pagination-controls (pageChange)="pageChange($event)" class="my-pagination">
    </pagination-controls>
</div>