<div class="container py-5 my-5">
    <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12 ">
            <div class="searchbar text-center">
                <div class="md-form">
                    <input mdbInput type="text" class="form-control" [matAutocomplete]="auto"
                        (keyup)='handleFilter($event)'>
                    <label class="">Doctor name</label>
                </div>
                <div class="md-form">
                    <input mdbInput type="text" class="form-control">
                    <label class="">Location</label>
                </div>
                <button mdbBtn style="border-radius: 25px; margin-left: 0;" color="primary" rounded="true"
                    mdbWavesEffect>filter</button>

                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredArray" [value]="option">
                        <p>{{option.username}}</p>
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
        <div class="col-lg-10 col-md-12 col-sm-12">

            <div class="py-4 px-0">
                <div class="row py-2 px-0">
                    <div class="col-md-6 col-lg-4 col-sm-12 px-0" *ngFor="let i of filteredArray | paginate: config">

                        <div class="DIVCARD">
                            <!------------------- HEADER OF THE CARD -------------------->
                            <div class="divHEADER">
                                <img class="img-fluid" src="{{i.profileIMG}}">
                            </div>
                            <!------------------- BODY OF THE CARD -------------------->
                            <div class="mainBODY">
                                <div class="bodyHeader" style="width: 100%;">
                                    <div class="bannerBODY bg-primary" >Archeology</div>
                                    <h1>{{i.username}}</h1>
                                    <!--TITRE -->
                                    <p class="bodySentence">
                                        Using Satellite Imagery
                                    </p>
                                </div>
                            </div>
                            <!-------- HIDDEN Description of the article------>
                            <p class="BodyDescription">
                                Two archaeologists, who recently published their findings in the American Schools of
                                Research, used
                                {{i.driefSummery}}
                                <a class="btn btn-primary" [routerLink]="['/Dprofile',i._id]">{{i.username}} profile</a>
                            </p>

                            <!------------------- FOOTER OF THE CARD ------------------>
                            <div class="divFOOTER">
                                <i class="icon icon-time"></i> 2min. read
                                <i class="icon icon-comment"></i> 2139 comments
                            </div>

                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>
</div>



<div class=" container text-center">
    <pagination-controls (pageChange)="pageChange($event)" class="my-pagination">
    </pagination-controls>
</div>