* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.crossfade > figure {
    animation: imageAnimation 30s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 9.1%;
    width: 100%;
    z-index: 0;
}
.crossfade > figure:nth-child(1) {
    background-image: url("../../assets/images/581649-doctor-wallpaper-1920x1285-hd.jpg");
}

.crossfade > figure:nth-child(2) {
    animation-delay: 6s;
    background-image: url("../../assets/images/7899.png");
}

.crossfade > figure:nth-child(3) {
    animation-delay: 12s;
    background-image: url("../../assets/images/581649-doctor-wallpaper-1920x1285-hd.jpg");
}

.crossfade > figure:nth-child(4) {
    animation-delay: 18s;
    background-image: url("../../assets/images/7899.png");
}

.crossfade > figure:nth-child(5) {
    animation-delay: 24s;
    background-image: url("../../assets/images/581649-doctor-wallpaper-1920x1285-hd.jpg");
}

@keyframes imageAnimation {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
    }
    8% {
        animation-timing-function: ease-out;
        opacity: 1;
    }
    17% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.Searchbar {
    position: absolute;
    top: 70%;
    left: 8%;
    margin: auto;
    text-align: center;
    height: 20vh;
    background-color: #fff;
    box-shadow: 1px 1px 11px 1px #000;
    z-index: 12;
    border-radius: 25px;
}

.Searchbar ul {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 20vh;
    padding: 20px;
}

.dropDown li {
    list-style: none;
    width: 100%;
    height: 12vh;
    border: 1px solid #aaa;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.dropDown .li-1 {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.dropDown .li-2 {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(239, 15, 15);
    color: #fff;
}

.dropDown button {
    width: 100%;
    padding: 15px;
    background-color: #fff;
    border: 0;
}

.mySpan {
    position: absolute;
    top: 5px;
    left: 10px;
}

.mySpan2 {
    position: absolute;
    top: 30px;
    left: 100px;
    color: #0070cd;

}

.myIcon {
    position: absolute;
    top: 30px;
    left: 20px;
    color: #0070cd;
    font-size: 20px;
}
.myInput {
    position: absolute;
    top: 30px;
    left: 100px;    
    border: 0 solid transparent;
    color: #0070cd;
    cursor: pointer;
}
::placeholder {
    color: #0070cd;
}

.imageCard img {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    width: 90%;
    height: 420px;
}
.pargraphCard {
    height: 370px;
    padding: 10px;
    padding-top: 0;
}
.pargraphCard h2 {
    color: rgb(23, 170, 219);
}
.pargraphCard h6 {
    color: rgb(23, 170, 219);
}
.pargraphCard p {
    color: rgb(8, 26, 34);
}

.icons {
    text-align: center;
    background-color: #45abff;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 30px;
}
.icons2 {
    text-align: center;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 30px;
}

.icons .row .col-md-3 h5 {
    font-size: 14px;
    text-align: right;
    padding-top: 10px;
    color: #fff;
}
.icons i {
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}
.icons2 .row .col-md-3 h5 {
    font-size: 14px;
    text-align: right;
    padding-top: 10px;
    color: #0070cd;
}
.icons2 i {
    padding: 35px;
    border: 2px solid #45abff;
    border-radius: 50%;
    font-size: 28px;
    font-weight: 600;
    color: #45abff;
}

::ng-deep .myMenu1 {
    max-width: none !important;
    width: 800px;
    height: auto;
    background-color: #fff;
}

::ng-deep .myMenu2 {
}

@media (max-width: 600px) {
    .Searchbar {
        position: absolute;
        top: 22%;
        left: 8%;
    }
}

@media (max-width: 1200px) {
    .Searchbar {
        position: absolute;
        top: 72%;
        left: 6%;
    }
}
@media (max-width: 1100px) {
    .Searchbar {
        position: absolute;
        top: 72%;
        left: 5%;
    }
}
